{% extends "base.html" %}

{% block conteudo %}
<body>
     <div class="d-flex flex-column align-items-stretch p-4" style="background-color: rgb(48, 46, 36);">
        <p>
            A Comunidade esta em constante crescimento, e para isso precisamos da sua ajuda!<br>
            Deixe seu comentario sobre o site, o que podemos melhorar, o que esta bom,
            o que esta ruim, o que podemos adicionar, o que podemos tirar, etc. Então, seja paciente. A aba comentario estará disponivel para todos os todos usuarios em breve...<br>
            <strong>Seja educado, e lembre-se que o site esta em desenvolvimento!</strong><br>
        </p>
    </div>
</body>
{% endblock %}