{% extends "base.html" %}

{% block conteudo %}
<body>
    <div class="d-flex flex-column align-items-stretch p-4" style="background-color: rgb(48, 46, 36);">
        <p>
            Desde que surgiram, há quase 10 anos, os malditos zumbis não planejam parar de invadir nossas casas em busca de nossos cérebros a comando do zumbi senciente Dr Zomboss. Felizmente, o mesmo acidente que deu vida aos mortos também deu vida a múltiplas espécies de plantas, que sofreram mutações e se tornaram nossas aliadas e principal arma contra os inimigos.
        </p>
        <p>
            Neste blog, você encontrará um catálogo sobre cada planta e zumbi para lhe ajudar a montar uma estratégia de defesa. Boa sorte.
        </p>
    </div>
</body>
{% endblock %}