{% extends "base.html" %}

{% block conteudo %}
<body>
    <div class="d-flex flex-column align-items-stretch p-4" style="background-color: rgb(48, 46, 36);">
        <p>
           As plantas, por si só, são uma boa linha de defesa. Contudo, caso elas acabem não dando conta de uma horda, o último recurso que pode ser aplicado por você como proteção são os itens especiais.        
        </p>
        <h3>
            Estes são os itens que você encontrará durante sua jornada:
        </h3>
        <img src="/static/imagens/cenarios/itens.png" alt=""><br>
            <h3>Descrição dos itens:</h3>
        <ul>
            <li>Cortador de grama: usado para limpar o jardim de zumbis.</li>
            <li>Sugador de piscina: usado para limpar a piscina de zumbis.</li>
            <li>Limpador de telhado: usado para limpar o telhado de zumbis.</li>
        </ul>
    </div>
</body>
{% endblock %}