{% extends "base.html" %}

{% block conteudo %}
<body>
    <div class="d-flex flex-column align-items-stretch p-4" style="background-color: rgb(48, 46, 36);">
        <p>
            A noite é quando os zumbis mais estrategistas atacam utilizando de artifícios mais elaborados que os zumbis diurnos. As plantas da noite costumam responder se adaptando e retrucando com ataques especializados. Assim como durante o dia, as plantas que se diferenciam são as da área da piscina e do telhado.
        </p>
        <img src="/static/imagens/cenarios/670px-Nightfrontyard.jpg" alt=""><br>
        <h3>
            Estas são as plantas que você encontrará no jardim durante a noite:
        </h3>
        <img src="/static/imagens/plantas dia.png" alt=""><br>
            <h3>Descrição das plantas:</h3>
        <ul>
            <li>Soprogumelo: dispara bolhas de curo alcance.</li>
            <li>Solargumelo: estimula o crescimento de outras plantas.</li>
            <li>Gasogumelo: dispara gases capazes de atravessar barreiras dos zumbis.</li>
            <li>Come-cova: come os zumbis direto da cova se for colocado sob uma.</li>
            <li>hipnogumelo: faz com que os zumbis o coma, o que deixa um zumbi num transe, o fazendo atacar apenas outros zumbis.</li>
            <li>Medogumelo: dispara bolhas a longa distância, mas se recolhe para se proteger quando um zumbi se aproxima.</li>
            <li>Gelogumelo: causa uma explosão que gera efeito congelante temporário nos zumbis.</li>
            <li>Ruínagumelo: causa uma explosão em curto alcance.</li>
        </ul>
        <h3> Estes são os zumbis que aparecem</h3>
        <img src="/static/imagens/zumbies/zumbis noite (1).png" alt=""><br>
        <h3>Descrição dos zumbis:</h3>
        <ul>
            <li>Do Jornal: usa o jornal como escudo.</li>
            <li>Futebolista Americano: seu uniforme garante uma grande defesa.</li>
            <li>Porta-de-Tela: a porta de tela que carrega garante uma grande defesa.</li>
            <li>Dançarino Líder: traz sob seu comando uma horda de zumbis.</li>
            <li>Dançarinos de apoio: seguem sob o comando do dançarino líder.</li>
        </ul>
    </div>
</body>
{% endblock %}