{% extends "base.html" %}

{% block conteudo %}
<body>
<div class="d-flex flex-column align-items-stretch p-4" style="background-color: rgb(48, 46, 36);">
        <p>
            A noite é quando os zumbis mais estrategistas atacam utilizando de artifícios mais elaborados que os zumbis diurnos. As plantas da noite costumam responder se adaptando e retrucando com ataques especializados. Assim como durante o dia, as plantas que se diferenciam são as da área da piscina e do telhado.
        </p>
        <img src="/static/imagens/cenarios/21509821-g3baeskf-v4.webp" alt=""><br>
        <h3>
            Estas são as plantas que você encontrará na piscina durante a noite:
        </h3>
       <img src="/static/imagens/plantas piscina.png" alt=""><br>
            <h3>Descrição das plantas:</h3>
            <ul>
                <li>Vitória-régia: É colocada sob a água da piscina e permite que outras plantas sejam posicionadas emcima de si mesma.</li>
                <li>Esmagadora: Pula em cima dos zumbis e os esmaga.</li>
                <li>Triplervilha: Atira ervilhas em três direções diferentes.</li>
                <li>Emaranhalga: Puxa os zumbis para dentro da água e os mata.</li>
                <li>Pimenta: Causa uma explosão até mesmo na água.</li>
                <li>Erva-espinho: Causa dano aos zumbis que pisam em cima dela.</li>
                <li>Tocha de madeira: Aumenta o dano dos disparos de outras plantas os incrementando com fogo.</li>
                <li>Noz-Alta: Oferece uma barreira de proteção ainda maior que a da noz-obstáculo.</li>
            </ul>
        <h3> Estes são os zumbis que aparecem</h3>
        <img src="/static/imagens/zumbies/zumbis piscina (1).png" alt=""><br>
        <h3>Descrição dos zumbis:</h3>
        <ul>
            <li>Da Bóia: usa a boia para flutuar sob a água.</li>
            <li>Mergulhador: mergulhar debaixo da água temporariamente para não ser atingido</li>
            <li>Zumboni: esmaga as plantas com sua máquina e deixa um rastro de gelo.</li>
            <li>Equipe de trenó: vem logo após o zumboni escorregando no gelo.</li>
            <li>Gofileiro: Usa um golfinho de apoio para saltar na água.</li>
        </ul>
    </div>
</body>
{% endblock %}