{% extends "base.html" %}

{% block conteudo %}
<body>
    <div class="d-flex flex-column align-items-stretch p-4" style="background-color: rgb(48, 46, 36);">
        <p>
            O dia é o período em que os zumbis mais ativos costumam tentar atacar utilizando de defesa simples mas bruta. As plantas costumam corresponder, com foco em dano pesado direto. As únicas plantas que se diferenciam são as da área da piscina e do telhado, devido a suas mecânicas únicas.

        </p>
        <p>
            Neste blog, você encontrará um catálogo sobre cada planta e zumbi para lhe ajudar a montar uma estratégia de defesa. Boa sorte.
        </p>
        <img src="/static/imagens/cenarios/RoofHDD.webp" alt=""><br>
        <h3>
            Estas são as plantas que você encontrará no telhado durante o dia:
        </h3>
        <img src="/static/imagens/plantas telhado.png" alt=""><br>
        <h3>Descrição das plantas:</h3>
        <ul>
            <li>Pote de flor: permite que as plantas sobrevivam no telhado.</li>
            <li>Repolhopulta: catapulta repolhos.</li>
            <li>Milhopulta: catapulta milho e pode deixar os zumbis lentos.</li>
            <li>Grão de café: dá mais energia às plantas.</li>
            <li>Alho: deixa os zumbis confusos.</li>
            <li>Folha guarda-chuva: protege as plantas ao redor de ataques de cima.</li>
            <li>Calêndula: função similar ao girassol.</li>
            <li>Melanciapulta: catapulta melancias.</li>
        </ul>
        <h3> Estes são os zumbis que aparecem</h3>
        <img src="/static/imagens/zumbies/zumbis telhado (1).png" alt=""><br>
        <h3>Descrição dos zumbis:</h3>
        <ul>
            <li>Amarrado: sendo pendurado de uma base no alto, ele pula nas plantas do teclado para roubá-las.</li>
            <li>Escada: pula por cima das plantas de defesa.</li>
            <li>Catapulta: ele catapulta bolas de basquete para destruir as plantas.</li>
            <li>Esmagador: causa grande dano em área nas plantas, e costuma atirar zumbis menores conhecidos como zumbinho em cima delas.</li>
            <li>Zumbinho: é bem rápido e devora as plantas as quais cai em cima.</li>
        </ul>
    </div>
</body>
{% endblock %}